* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: Verdana, Arial, sans-serif;
    text-align: center;
    margin: 1em;
}

h2 {
    font-family: Verdana, Arial, sans-serif;
    margin-bottom: 1em;
}

.header ul {
    background: #75E184;
    text-align: center;
    padding: 0.5em;
}

.header li {
    display: inline-block;
    font-weight: bold;
    padding: 0 1em;
}

.content {
    max-width: 50em;
    margin: 0 auto;
}

.content p {
    margin-bottom: 0.5em;
}
