<!DOCTYPE html>
<meta charset="utf-8">

<title>{{ page.title }}</title>

<link rel="stylesheet" href="/css/default.css">

<h1><a href="/">Relax and Recover</a></h1>
<ul class="nav">
    <li><a href="/about/">Features</a>
    <li><a href="/documentation/">Documentation</a>
    <li><a href="/download/">Downloads</a>
    <li><a href="/support/">Support</a>
    <li><a href="/development/">Development</a>
</ul>

<div class="content">
{{ content }}
</div>

<div class="footer">
<hr/>
Follow us on <a href="https://plus.google.com/100515362141948679328?prsrc=3" style="text-decoration:none;"><img src="https://ssl.gstatic.com/images/icons/gplus-32.png" alt="" style="border:0;width:32px;height:32px;"/></a>
<!-- Place this tag where you want the +1 button to render -->
<div class="g-plusone" data-annotation="inline"></div>

<!-- Place this render call where appropriate -->
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
</div>
