<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    <title>{{ page.title }}</title>

    <link type="text/css" rel="stylesheet" href="/css/default.css">

</head>

<body>
    <header><a href="/">Relax-and-Recover</a></header>
    <ul class="nav">
        <li><a href="/">Home</a>
        <li><a href="/about/">Features</a>
        <li><a href="/documentation/">Documentation</a>
        <li><a href="/download/">Downloads</a>
        <li><a href="/support/">Support</a>
        <li><a href="/development/">Development</a>
        <li><a href="/events/">Events</a>
    </ul>

    <content>
        <h1>{{page.title}}</h1>

        {{ content }}
    </content>

    <footer>
        <a href="/support/sponsors">
            <h3>If you like Relax-and-Recover please consider sponsorship</h3>
        </a>
    </footer>
</body>

</html>